@font-face {
  font-family: "Poppins", sans-serif;
  src: url(/fonts/Poppins-Light.woff2) format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Poppins", sans-serif;
  src: url(/fonts/Poppins-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins", sans-serif;
  src: url(/fonts/Poppins-Medium.woff2) format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins", sans-serif;
  src: url(/fonts/Poppins-SemiBold.woff2) format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins", sans-serif;
  src: url(/fonts/Poppins-Bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "FuturaLightC", sans-serif;
  src: url(/fonts/FuturaLightC_Regular.woff2) format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "FuturaBookC", sans-serif;
  src: url(/fonts/FuturaBookC_Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FuturaDemiC", sans-serif;
  src: url(/fonts/FuturaDemiC_Regular.woff2) format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "FuturaFuturisC", sans-serif;
  src: url(/fonts/FuturaFuturisC_Regular.woff2) format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "FuturaFuturisC", sans-serif;
  src: url(/fonts/FuturaFuturisC_Bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
}