@media (hover: hover) {
  a:hover {
    color: var(--hover-color);
  }

  .btn:hover {
    color: var(--btn-hover);
  }

  .menu__phone:hover .icon-phone svg circle {
    fill: var(--hover-color);
  }
}

@media (max-width: 1500px) {
  .makers__slider {
    max-width: 996px;
  }

  .prev {
  left: 10px;
}

  .next {
    right: 10px;
  }
}

@media (max-width: 1390px) {
  .container {
    padding: 0 50px;
  }

  .header-top {
    padding-bottom: 80px;
  }

  .header-top__item {
    align-items: start;
  }

  .menu__list.menu-top {
    display: none;
  }

  .contacts {
    @include flex-center-space-between;
    align-items: start;
    gap: 30px;
  }

  .menu__btn {
    display: block;
    position: relative;
    margin-top: -10px;
    border-radius: 10px;
    border: 1px solid #167ec2;
    background-color: var(--background-blue-dark);
  }

  .menu__text-wrap {
    position: relative;
    padding: 20px 30px 26px 0;
    border-radius: 0 0 10px 10px;
    background-color: var(--background-blue-dark);
    text-align: end;
    z-index: 10;
    overflow: hidden;
    max-height: 0; 
    transition: max-height 0.4s ease;
  }

  .menu-line:not(:last-child) {
    padding-bottom: 10px;
  }

  .header-about__promo {
    padding-bottom: 150px;
  }

  .promo__title {
    font-size: 60px;
      
    .highlight-font {
      font-size: 40px;
    }

    .smaller-font {
      font-size: 50px;
    }
  }
}

@media (max-width: 1256px) {
  .header-top {
  // padding: 44px 0 70px;

    &.scrolled {
      height: 150px;
    }
  }

  .makers__slider {
    max-width: 772px;
  }

  .slider-item {
    gap: 16px;
  }

  .footer-item {
    flex-direction: column;
    padding: 52px 0;
    gap: 30px;
  }
}

@media (max-width: 1180px) {
  .promo__title {
    font-size: 50px;
      
    .highlight-font {
      font-size: 30px;
    }

    .smaller-font {
      font-size: 40px;
    }
  }

  .promo__subtitle {
    font-size: 20px;
  }

  .form-title {
    padding: 24px 0;
    font-size: 20px;
  }

  .form-item {
    padding: 20px 30px 30px;
  }

  label {
    padding-left: 16px;
    font-size: 16px;
  }

  .form-input {
    padding: 16px 0 14px 16px;
    margin-bottom: 10px;

    &::placeholder {
      font-size: 18px;
    }
  }

  .btn.form-submit {
    margin: 20px 0 14px;
  }
}

@media (max-width: 1050px) {
  .btn {
    padding: 16px 32px;
    font-size: 16px;
  }

  .promo__title {
    font-size: 44px;
      
    .highlight-font {
      font-size: 26px;
    }

    .smaller-font {
      font-size: 30px;
    }
  }

  .promo__subtitle {
    font-size: 18px;
  }

  .check-list {
    font-size: 16px;
  }
}

@media (max-width: 970px) {
  .makers__slider {
    max-width: 514px;
  }
}

@media (max-width: 920px) {
  .header__wrapper {
    max-height: none;
    min-height: 850px;
  }

  .header-about {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .header-about__promo {
    width: 100%;
    padding-bottom: 0;
    text-align: center;
  }

  .header-about__form {
    padding-bottom: 130px;
  }

  .subtitle {
    padding-top: 60px;
    font-size: 40px;
  }

  .benefit__text {
    padding: 25px 46px 46px;
  }

  .benefit__cards {
    gap: 20px;
  }

  .benefit__card-item {
    max-width: 340px;
    padding: 30px 30px 50px;
  }

  .benefit__card-title {
    font-size: 18px;
  }

  .benefit__card-text {
    font-size: 16px;
  }
}

@media (max-width: 800px) {
  .container {
    padding: 0 30px;
  } 

  .header-top {
  padding: 40px 0 120px;

    &.scrolled {
      height: 190px;
    }
  }

  .header-top__logo {
    margin-top: 8px;
  }

  .contacts {
    align-items: end;
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 724px) {
  .footer-item {
    padding: 52px 0;
    gap: 26px;
  }
  .menu__list {
    flex-direction: column;
    gap: 12px;
  }

  .makers__slider {
    max-width: 246px;
  }

  .slider-item {
    gap: 4px;
  }

  .makers__text {
    font-size: 16px;
  }
}

@media (max-width: 624px) {
  .promo__subtitle {
    font-size: 16px;
  }

  .promo__list {
    padding: 16px 0 16px 20px;
    gap: 12px;
  }

  .promo__list-item {
    text-align: left;
  }
}

@media (max-width: 468px) {
  .container {
    padding: 0 20px;
  } 

  .header-top {
    padding: 30px 0 150px;
    &.scrolled {
      height: 230px;
    }
  }

  .header-top__item {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .contacts {
    align-items: center;
  }

  .menu__btn {
      margin-bottom: 30px;
    }

    .subtitle {
    padding-top: 40px;
    font-size: 36px;
  }

    .prev {
  left: 0;
}

  .next {
    right: 0;
  }
}
  