:root {
  --font-family: "Poppins", sans-serif;
  --second-family: "FuturaBookC", sans-serif;
  --third-family: "FuturaFuturisC", sans-serif;
  --font3: "FuturaDemiC", sans-serif;
  --font4: "FuturaLightC", sans-serif;
  --font5: "Proxima Nova", sans-serif;

  --background: #F2F2F4;
  --background-blue: #0809A7;
  --background-blue-dark: #07086C;
  --color-white: #ffffff;
  --color-black: #111111;
  --color-dark: #333333;
  --hover-color: #969af7;
  --scrollbar-color: #686eec;
  --btn-color: #ffa500;
}

