// @import 'modern-normalize'; - подключен через npm в main.js
@use "./modules/fonts";
@use "./modules/vars";
@use "./modules/mixins" as *;

html {
  min-height: 100%;
  background-color: var(--background);
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 400;
  color: var(--color-white);
  scroll-behavior: smooth;
  overscroll-behavior: none;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body::-webkit-scrollbar {
  background: var(--background-blue-dark);
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 4px;
  border: 1px solid var(--background-blue);
  background-color: var(--scrollbar-color);

  &:hover {
    border-color: var(--scrollbar-color);
    background-color: var(--hover-color);
  }
}

body::-webkit-scrollbar-corner {
  display: none;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style-type: none;
  padding: 0;
}

button,
button:active,
button:focus {
  border: none;
  background-image: none;
  cursor: pointer;
}

summary {
  list-style: none;
  cursor: pointer;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.subtitle {
  padding-top: 85px;
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 45px;
  line-height: 100%;
  text-align: center;

  &.subtitle-black {
    color: var(--color-black);
  }
}

#makers,
#scheme,
#faq {
  scroll-margin-top: 130px;
}

#about {
  scroll-margin-top: -300px;
}

.header__wrapper {
  @include background-image("/img/images/header-bg.png");
  position: relative;
  width: 100%;
  max-height: 850px;

  &::before {
    @include pseudo-element("/img/images/header-mask.png");
  }
}

.header-top {
  position: relative;
  padding: 54px 0 100px;
  transition: all 0.3s ease;

  &.scrolled {
    position: fixed;
    width: 100%;
    height: 190px;
    top: 0;
    left: 0;
    background-color: var(--background-blue-dark);
    z-index: 10;
  }
}

.header-top__item {
  @include flex-center-space-between;
  height: 55px;
}

.header-top__menu {
  @include flex-center-space-between;
  flex-direction: row;
}

.menu__btn {
  display: none;
}

.menu__list {
  @include flex-center-space-between;
  flex-direction: row;
  gap: 22px;
}

.menu__link {
  font-family: var(--font4);
  font-weight: 300;
  line-height: 123%;
  transition: all 0.3s ease;
}

.menu__phone {
  @include flex-center-space-between;
  flex-direction: row;
  gap: 10px;
  transition: all 0.3s ease;

  & .icon-phone svg circle {
    transition: all 0.3s ease;
  }
}

.phone-item {
  font-family: var(--third-family);
  line-height: 123%;
  text-transform: uppercase;
}

.header-about {
  position: relative;
  @include flex-center-space-between;
  flex-direction: row;
  align-items: start;
  gap: 50px;

  &.scrolled {
    padding-top: 190px;
  }
}

.header-about__promo {
  width: 66%;
  padding-bottom: 190px;
}

.promo__title {
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 68px;
  line-height: 100%;
  text-transform: uppercase;
  padding-bottom: 14px;

  .highlight-font {
    font-size: 48px;
    color: var(--hover-color);
  }

  .smaller-font {
    font-size: 60px;
    line-height: 123%;
  }
}

.promo__subtitle {
  font-family: var(--second-family);
  font-size: 22px;
  line-height: 130%;
  color: var(--hover-color);
  padding-bottom: 37px;
}

.promo__list {
  @include flex-center-space-between;
  flex-direction: column;
  align-items: start;
  background: linear-gradient(
    90deg,
    rgba(150, 154, 247, 0.3) 0%,
    rgba(150, 154, 247, 0) 100%
  );
  border-radius: 10px;
  padding: 25px 0 25px 30px;
  gap: 16px;
}

.promo__list-item {
  @include flex-center-space-between;
  flex-direction: row;
  justify-content: start;
  gap: 14px;
}

.check {
  @include background-image("/img/icons/check.svg");
  width: 14px;
  height: 11px;
}

.feedback-form {
  @include flex-center-space-between;
  flex-direction: column;
  max-width: 380px;
  border-radius: 10px;
  background: var(--color-white);
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.form-title {
  width: 100%;
  padding: 30px 0;
  border-radius: 10px 10px 0 0;
  border: 1px solid #552693;
  background: linear-gradient(to bottom, #6a32b4 0%, #552693 100%);
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 23px;
  text-align: center;
  text-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

.form-item {
  @include flex-center-space-between;
  flex-direction: column;
  padding: 24px 40px 36px;
  border-radius: 0 0 10px 10px;
  border: 1px solid #f2f3f5;
}

label {
  font-family: var(--second-family);
  line-height: 129%;
  color: #626366;
  padding-left: 20px;
}

.form-input {
  width: 100%;
  border-radius: 10px;
  border-style: none;
  padding: 20px 0 16px 20px;
  margin-bottom: 10px;
  box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #f5f3ff;

  &::placeholder {
    font-family: var(--second-family);
    font-size: 20px;
    line-height: 129%;
    color: #bcbfc4;
  }
}

.btn {
  width: 100%;
  padding: 18px 0;
  margin: 34px 0 14px;
  border-radius: 10px;
  background: var(--btn-color);
  font-family: var(--third-family);
  line-height: 106%;
  text-transform: uppercase;
  color: var(--color-white);
  transition: all 0.3s ease;

  &:active {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), inset 0 1px 3px rgba(0, 0, 0, 0.2); 
    transform: translateY(1px);
  }
}

.form-footer {
  @include flex-center-space-between;
  flex-direction: row;
  justify-content: start;
  gap: 12px;
}

.lock {
  @include background-image("/img/icons/lock.svg");
  width: 16px;
  height: 16px;
}

.form-privacy {
  font-family: var(--second-family);
  font-size: 12px;
  color: #c0c0c0;
}

.benefit__wrapper {
  @include background-image("/img/images/benefit-bg.png");
  position: relative;
  width: 100%;
  margin-top: -480px;
  min-height: 1750px;
  box-shadow: inset 0 4px 20px 0 rgba(0, 0, 0, 0.1);
  z-index: -1;
}

.span-block {
  display: block;
  width: 100%;

  &.benefit-span {
    height: 480px;
  }
}

.benefit__text {
  padding: 25px 86px 46px;
  font-family: var(--second-family);
  font-size: 20px;
  line-height: 109%;
  text-align: center;
  color: #030303;
}

.benefit__cards {
  @include flex-center-space-between;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 32px;
  padding-bottom: 130px;
}

.benefit__card-item {
  position: relative;
  @include flex-center-space-between;
  flex-direction: column;
  justify-content: start;
  align-self: stretch;
  max-width: 369px;
  padding: 40px 30px 60px;
  border-radius: 10px;
  background-color: var(--color-white);
  box-shadow: 0 4px 30px 0 rgba(9, 38, 192, 0.05);

  &::before {
    @include pseudo-element("/img/images/benefit-card-mask.png");
  }
}

.benefit-icon {
  width: 157px;
  height: 162px;
  margin-bottom: 40px;

  &.quality {
    @include background-image("/img/icons/quality.svg");
  }

  &.individual {
    @include background-image("/img/icons/individual.svg");
  }

  &.delivery {
    @include background-image("/img/icons/delivery.svg");
  }

  &.analogs {
    @include background-image("/img/icons/analogs.svg");
  }

  &.reserve {
    @include background-image("/img/icons/reserve.svg");
  }

  &.pay {
    @include background-image("/img/icons/pay.svg");
  }
}

.benefit__card-title {
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 20px;
  color: #2a336c;
  padding-bottom: 14px;
  text-align: center;
}

.benefit__card-text {
  font-family: var(--second-family);
  line-height: 110%;
  text-align: center;
  color: #555;
}

.makers__wrapper {
  @include background-image("/img/images/makers-bg.png");
  position: relative;
  width: 100%;
  height: 728px;
  margin-top: -50px;

  &::before {
    @include pseudo-element("/img/images/makers-mask.png");
  }
}

.makers-item {
  position: relative;
}

.makers-span,
.scheme-span {
  height: 50px;
}

.makers__slider-wrapper {
  position: relative;
  width: 100%;
}

.makers__slider {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.slider-btns {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  pointer-events: none;
}

.slider-btns button {
  position: absolute;
  top: 50%;
  transform: translateY(-25%);
  width: 41px;
  height: 41px;
  cursor: pointer;
  pointer-events: auto;
  background-color: inherit;
  transition: all 0.2s ease;

  &:active {
    transform: translateY(-24%);
  }
}

.prev {
  left: -90px;
}

.next {
  right: -90px;
}

.slider-item {
  @include flex-center-space-between;
  display: flex;
  width: 100%;
  max-width: 1280px;
  padding: 60px 0 42px;
  gap: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.slide {
  @include flex-center-space-between;
  justify-content: center;
  flex-wrap: nowrap;
  min-width: 242px;
  height: 174px;
  flex-shrink: 0;
  border-radius: 10px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.05);
  background: var(--color-white);
}

.makers__text {
  font-family: var(--second-family);
  line-height: 155%;
}

.scheme__wrapper {
  @include background-image("/img/images/scheme-bg.png");
  position: relative;
  width: 100%;
  min-height: 1098px;
  margin-top: -50px;
}

.scheme__text {
  padding: 24px 20px 46px;
  font-family: var(--second-family);
  font-size: 20px;
  line-height: 100%;
  text-align: center;
  color: #333;
}

.scheme__cards {
  @include flex-center-space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 48px;
}

.scheme__card-item {
  position: relative;
  min-height: 268px;
  padding: 38px 30px 0 38px;
  border-radius: 10px;

  &::before {
    @include pseudo-element("/img/images/scheme-card-mask.png");
  }
}

.scheme-card1 {
  @include background-image("/img/images/scheme-card1.png");
  width: 434px;
  margin-bottom: 28px;
}

.scheme-card2 {
  @include background-image("/img/images/scheme-card2.png");
  width: 436px;
  margin-bottom: 28px;
}

.scheme-card3 {
  @include background-image("/img/images/scheme-card3.png");
  width: 410px;
  height: 298px;
}

.scheme-card4 {
  @include background-image("/img/images/scheme-card6.png");
  width: 406px;
}

.scheme-card5 {
  position: relative;
  @include background-image("/img/images/scheme-card5.png");
  width: 438px;
  padding-left: 58px;

  &::before {
    @include pseudo-element("/img/images/scheme-card-mask4.png");
  }
}

.scheme-card6 {
  position: relative;
  @include background-image("/img/images/scheme-card4.png");
  width: 436px;
  padding-left: 58px;

  &::before {
    @include pseudo-element("/img/images/scheme-card-mask4.png");
  }
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-rows: auto;
  gap: 16px;
}

.item1 {
  grid-column: 1;
  grid-row: 1 / 3;
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: var(--hover-color);
}

.item2 {
  grid-column: 2;
  grid-row: 1;
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 139%;
  padding-top: 4px;
  height: 50px;
}

.item3 {
  grid-column: 2;
  grid-row: 2;
  font-family: var(--second-family);
  font-size: 16px;
  line-height: 139%;
  color: #e3e3e3;
}

.form-application {
  display: block;
  max-width: 300px;
  margin: 0 auto;
}

.faq__wrapper {
  @include background-image("/img/images/faq-bg.png");
  position: relative;
  width: 100%;
  min-height: 1271px;
  margin-top: -60px;

  &::before {
    @include pseudo-element("/img/images/faq-mask.png");
  }
}

.faq-item {
  position: relative;
}

.subtitle-faq {
  padding-top: 110px;
}

.faq__block {
  padding: 53px 0 95px;
}

.faq__card {
  border-radius: 10px;
  border: 1px solid #167ec2;
  background-color: var(--color-white);
  margin-bottom: 13px;
}

.faq__title {
  width: 100%;
  @include flex-center-space-between;
  padding: 26px 30px 26px 53px;
  border-radius: 10px;
  box-shadow: 0 0 50px -10px rgba(22, 126, 194, 0.2);
  background: linear-gradient(180deg, #fff 0%, #bdc0ff 100%);

  details[open] & {
    background: linear-gradient(180deg, #969af7 0%, #686eec 100%);
  }
}

.faq__title-item {
  font-family: var(--font3);
  font-weight: 600;
  font-size: 22px;
  line-height: 117%;
  color: #333;

  details[open] & {
    color: var(--color-white);
  }
}

.faq__arrow .icon-open,
details[open] .faq__arrow .icon-close {
  display: block;
}

.faq__arrow .icon-close,
details[open] .faq__arrow .icon-open {
  display: none;
}

.faq__arrow-open .icon-close,
details[open] .faq__arrow-open .icon-open {
  display: block;
}

.faq__arrow-open .icon-open,
details[open] .faq__arrow-open .icon-close {
  display: none;
}

.faq__text-wrap {
  padding: 39px 43px 30px 53px;
  border-radius: 0 0 10px 10px;
  background-color: var(--color-white);

  overflow: hidden;
  max-height: 0; 
  transition: max-height 0.4s ease;
}

.faq-text {
  font-family: var(--second-family);
  line-height: 135%;
  color: #333;
  padding-bottom: 34px;
}

.footer {
  background: var(--color-dark);
}

.footer-item {
  @include flex-center-space-between;
  padding: 72px 0 72px;
  gap: 20px;
}

.menu__link-footer {
  font-family: var(--second-family);
  font-size: 16px;
  line-height: 123%;
}

.btn-footer {
  width: auto;
  background: var(--hover-color);
  padding: 18px 40px;
  margin: 0;
}

@import "./modules/media";
