// @import 'modern-normalize'; - подключен через npm
@use './modules/fonts';
@use './modules/vars';
@use './modules/mixins' as *;

html {
  min-height: 100%;
  background-color: var(--background);
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 400;
  color: var(--color-white);
  scroll-behavior: smooth;
  overscroll-behavior: none;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // overflow-x: hidden;
}

body::-webkit-scrollbar {
  background: inherit;
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 2px solid var(--scrollbar-color);
  background-color: var(--hover-color);

  &:hover {
    border-color: var(--background-blue);
    background-color: var(--background-blue-dark);
  }
}

*, 
*::after,
*::before {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
    list-style-type: none;
    padding: 0;
}

button,
button:active,
button:focus {
  border: none;
  background-image: none;
  background-color: transparent;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  
}

.header__wrapper {
  @include background-image('/img/images/header-bg.png');
  position: relative;
  width: 100%;
  height: auto;

  &::before {
    @include pseudo-element('/img/images/header-mask.png');
  }
}

.header-top {
  position: sticky;
  top: 0;
  padding: 54px 0 100px;
  z-index: 10;
  transition: all 0.2s ease;
}

.header-top.scrolled {
  background-color: var(--background-blue-dark);
  padding-bottom: 54px;
}


.header-top__item {
  @include flex-center-space-between;
}

.header-top__menu {
  @include flex-center-space-between;
  flex-direction: row;
}

.menu__list {
  @include flex-center-space-between;
  flex-direction: row;
  gap: 22px;
}

.menu__link {
  font-family: var(--font4);
  font-weight: 300;
  line-height: 123%;
  transition: all 0.3s ease;
}

.menu__phone {
  @include flex-center-space-between;
  flex-direction: row;
  gap: 10px;
  transition: all 0.3s ease;

  & .icon-phone svg circle {
    transition: all 0.3s ease;
  }
}

.phone-item {
  font-family: var(--third-family);
  line-height: 123%;
  text-transform: uppercase;
}

.header-about {
  position: relative;
  @include flex-center-space-between;
  flex-direction: row;
  gap: 50px;
  padding-bottom: 190px;
}

.header-about__promo {
  width: 66%;
}

.promo__title {
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 68px;
  line-height: 100%;
  text-transform: uppercase;
  padding-bottom: 14px;

  .highlight-font {
    font-size: 48px;
    color: var(--hover-color);
  }

  .smaller-font {
    font-size: 60px;
    line-height: 123%;
  }
}

.promo__subtitle {
  font-family: var(--second-family);
  font-size: 22px;
  line-height: 130%;
  color: var(--hover-color);
  padding-bottom: 37px;
}

.promo__list {
  @include flex-center-space-between;
  flex-direction: column;
  align-items: start;
  background: linear-gradient(90deg, rgba(150, 154, 247, 0.3) 0%, rgba(150, 154, 247, 0) 100%);
  border-radius: 10px;
  padding: 25px 0 25px 30px;
  gap: 16px;
}

.promo__list-item {
  @include flex-center-space-between;
  flex-direction: row;
  justify-content: start;
  gap: 14px;
}

.check {
  @include background-image('./img/icons/check.svg');
  width: 14px;
  height: 11px;
}








@import './modules/media';